@import "bootstrap";

body {
	padding-top: 70px;
  	//background-image: image-url('background_image.jpg');
  	//background-repeat: no-repeat;
  	//background-attachment: fixed;
  	background-color: E9ECE5;
  	color: #3B3A36;
  	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #C0DFD9;
}

.navbar-default .navbar-brand {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 250;
	color: #3B3A36;
	font-size: 30px;
}

.navbar-default .navbar-nav > li >a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #3B3A36;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #66ABA1;
	color: #3B3A36;
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus {
	color: #3B3A36;
}

.center {
	text-align: center;
}

.col-md-4:nth-child(3n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

/*
.table tbody tr > td, tr > th {
	background-color: #FFFFFF;
}
*/

.table tbody tr > th {
	font-size: 18px;
	font-weight: 200;
	color: #3B3A36;
}

.jumbotron {
  	text-align: right;
	height: 350px;
	background-size: cover;
	background-image: url('jumbotron.jpg');
	h1, h2 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 80;
		color: #E9ECE5; 
	}
}

