@import "bootstrap";

body {
	padding-top: 70px;
  	background-image: image-url('background_image.jpg');
  	background-repeat: no-repeat;
  	color: #333333;
  	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #292929;
}

.navbar-default .navbar-brand {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #D5641C;
	font-size: 30px;
}

.navbar-default .navbar-nav > li >a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #D5641C
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus {
	color: #D5641C
}

.center {
	text-align: center;
}

.col-md-4:nth-child(3n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

